{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-10 my-auto">
                <h3 class="text-lg-right logo-font text-blue">
                    Ceramics made in Stockholm
                </h3>
            </div>
        </div>
    </div>
{% endblock %}