.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}
#profile-update-form .form-control {
    color: #49494B;
}

#profile-update-form input::placeholder {
    color: #8f8d8a;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #8f8d8a;
}

#id_default_country option:first-child {
    color: #8f8d8a;
}