<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<!----------------UserREviews-->
<section>
    <div class="container">
    <h2 class="logo-font">User Reviews</h2>
         <hr class="w-50 mb-5">
    <div class="row">
        {% for user_review in user_reviews %}
        <div class="col-12 col-md-10 ml-md-5 mt-5 mb-3">
        <h2 class="standard-title blue-title">
            {{ user_review.review_title }}
        </h2>
        <div>Review by: {{ user_review.user_profile }}</div>
        <div>{{ user_review.review_content }}</div>
    </div>
    </div>
    </div>
</section>
{% endblock %}

