html {
    height: 100%;
}

body {
    color: #3d3d3f;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

/* --------------------------------- Buttons */

.buttonContact {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    border: 2px solid #7395AE;
    color: #7395AE;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    vertical-align: baseline;
}
.buttonContact:hover,
.buttonContact:active,
.buttonContact:focus {
    background: #7395AE;
    color: #fafafa !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #3d3d3f;
    color: #eae7dc;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-grey {
    background: #8f8d8a;
    color: white;
}

.btn-outline-grey {
    background: white;
    color: #8f8d8a !important; /* use important to override link colors for <a> elements */
    border: 1px solid #8f8d8a;
}

.btn-outline-grey:hover,
.btn-outline-grey:active,
.btn-outline-grey:focus {
    background: #8f8d8a;
    color: white !important;
}


/* --------------------------------- Colors */

.text-black {
    color: #3d3d3f !important;
}

.text-grey {
    color: #8f8d8a;
}

.text-blue {
    color: #7395AE !important;
    font-family: 'Railway', sans-serif;
}

.text-egg {
    color: #eae7dc;
}

.text-sand {
    color: #D8C3A5; 
}

.border-grey {
    border: 1px solid #8f8d8a !important;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.railway {
    font-family: 'Railway', sans-serif;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fafafa;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #eae7dc !important;
    color: #7395AE !important;
}
/* -----------height: calc(100vh - 164px);--------------------- Homepage */
.backgroundImage {
    background: url('/media/homepage_background.jpg');
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 100%;
    width: 100%;
}

.homeText {
    text-align: center;
    font-family: 'Railway', sans-serif;
    font-size: 40px;
    padding-top: 320px;
    padding-left: 450px;
    text-shadow: 1px 1px #8f8d8a;
    position: absolute;
    width: auto;
    color: #eae7dc !important;
}

.overviewTitle {
    font-family: 'Railway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
}
.overviewText{
    font-size: 15px;
    color: #3d3d3f;
    margin-right: 20px;
    margin-bottom: 30px;
}

.image_ceramics {
    background-size: flex;
    height: 100%;
    width: 100%;
}

.contactInfo {
    background-color: #8f8d8a;
    padding: 50px;
    font-weight: bold;
    color: #eae7dc;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    height: auto;
    display: flex;
    flex-direction: none !important;
}

.contactContent{
    padding: 50px;
    font-weight: bold;
    color: #eae7dc;
    text-align: center;
}

.phoneImageWrapper {
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
    
}

.ceramics_images {
    margin: 40px;
}

/* -------------------------------- Products */


.centered-price {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: rgba(143, 141, 138, 0.4);
    height: 25px;
    display: inline-block;
    overflow: hidden;
}

.centered-category {
    background-color: rgba(143, 141, 138, 0.2);
}

.card-image {
    height: 80%;
    max-height: none;
}

.card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}   


input[name='q']::placeholder {
    color: #8f8d8a;
}

/* -------------------------------- Courses */

.courseTitle {
    font-family: 'Railway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 50px;
}

.courseText {
    font-size: 15px;
    color: #3d3d3f;
    margin-right: 20px;
    margin-bottom: 30px;
}

.bg-color-course {
    background-color: #D8C3A5;
}

/* -------------------------------- Contact 
.contactForm {
    padding: 30px;
    color: #49494B;
    border-color: #49494B; 
}

.contactBoxWrapper{
    padding: 0;
}
.contactBox {
    border: solid #49494B 1px;
    box-sizing: content-box;
    padding: 30px;
}

.contactTitle {
    font-size: 30px;
    color: #7395AE;
}
.form {
    font-family: 'Roboto', sans-serif;
    color: #49494B;
}

.contactFormTitle {
    font-size: 20px;
}
*/
.contactTitle {
    font-size: 20px;
    color: #7395AE;
}

.contactFormContainer {
    color: #3d3d3f;
    font-size: 20px;
}

.contactFormTitle {
  color: #3d3d3f;
  font-size: 30px;
}

/* emailalert for contactpage */
.alert{
    display:none;
    text-align:center;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#emailAlert{
    color: #D8C3A5;
    background-color: #3d3d3f;
    border-color: #3d3d3f;
}

#emailFail{
    color: #7395AE;
    background-color: #eae7dc;
    border-color: #eae7dc;
}
/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #49494B;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap and slightly edited to maintain the colorscheme*/
.arrow-primary {
    border-bottom-color: #7395AE !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #D8C3A5 !important;
}

.arrow-warning {
    border-bottom-color: #eae7dc !important;
}

.arrow-info {
    border-bottom-color: #7395AE !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #3d3d3f !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*----------------------------------------------Footer*/
.footerWrapper {
    color: #49494B;
    padding: 7px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    margin-top: auto;
    background-color: #eae7dc;
}

.footerText {
    font-size: 10px;
    padding: 10px;
}

.socialIconsFooter i {
    color: #7395AE;
	font-size: 30px;
}

.socialIconsFooter i:hover {
	color: #49494B;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 80px !important;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #8f8d8a; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #3d3d3f;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #8f8d8a;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    font-family: 'Roboto', sans-serif;
	display: inline-block;
    font-weight: 400;
    color: #7395AE;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f9f8fd;
    border: 2px solid #7395AE;
    padding: 7px 16px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #eae7dc;
    border-color: #7395AE;
}

.allauth-form-inner-content a {
	color: #7395AE; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #D8C3A5;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #D8C3A5;
    border-color: #D8C3A5;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 76px;
    }
}