<!DOCTYPE html>
<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 list-inline list-unstyled navbar-fixed-top">
        <li class="nav-item col-12 col-lg-3 my-auto py-1 py-lg-0">
            <a class="text-grey nav-link text-center text-lg-right" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item col-12 col-lg-3 my-auto py-1 py-lg-0">
            <a class="text-grey nav-link" href="{% url 'products' %}" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">Ceramics</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    <a href="{% url 'products' %}" class="dropdown-item text-blue">All Ceramics</a>
                    <a href="{% url 'products' %}?category=tableware" class="dropdown-item text-blue">Tableware</a>
                    <a href="{% url 'products' %}?category=kitchenware" class="dropdown-item text-blue">Kitchenware</a>
                    <a href="{% url 'products' %}?category=interior" class="dropdown-item text-blue">Interior</a>
                </div>
        </li>
        <li class="nav-item col-12 col-lg-3 my-auto py-1 py-lg-0">
            <a class="text-grey nav-link text-center" href="{% url 'courses' %}">
                <p class="m-0">Courses</p> 
            </a>
        </li>
        <li class="nav-item col-12 col-lg-3 my-auto py-1 py-lg-0">
            <a class="text-grey nav-link text-center" href="{% url 'contact' %}">
                <p class="m-0">Contact</p> 
            </a>
        </li>
        <li class="list-inline-item dropdown col-12 col-lg-3 my-auto py-1 py-lg-0">
            <a class="text-grey nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div>
                        <i class="fas fa-user fa-lg py-2 py-lg-0"></i>
                    </div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 text-center" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item text-blue">Product Management</a>
                {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item text-blue">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item text-blue">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item text-blue">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item text-blue">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item col-12 col-lg-3 my-auto py-1 py-lg-0">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-grey{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div>
                        <i class="fas fa-shopping-bag fa-lg">
                        </i>
                    </div>
                    <p class="my-0">
                        {% if grand_total %}
                            {{ grand_total|floatformat:2 }} SEK
                                {% else %}
                                    SEK 0.00
                                {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>

