<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!------Contact---------------->
{% block content %}
<div class="contactImage"></div>
<section>
    <div class="uppercase text-center mt-5 railway contactTitle">
                <p>Any questions regarding our courses or the products?</p>
                <p>You can reach us through the contact form!</p>  
    </div>
    <!-- hidden alert containers for error handling the contact form -->
	<h6 class="alert" id="emailAlert">Your email has been sent, you will hear from us shortly</h6>
	<h6 class="alert" id="emailFail">Oops, there was a problem sending your email</h6>
   <!------ContactForm----------------> 
    <div class="container contactFormContainer">
        <div class="row justify-content-md-center">
           <div class="contactBoxWrapper col-lg-6 ">
            <div class="center-form contactBox">
                 <p class="text-center railway text-black contactFormTitle">Contact form</p>
                 <form id="contactForm">
                    {% csrf_token %}
                    <input type="text" name="user_name" class="form-control my-2" id="user_name" placeholder="Full Name"required/>
                    <input type="email" name="user_email" class="form-control my-2" id="user_email"placeholder="Email" required/>
                    <textarea rows="5" name="message" class="form-control my-2" id="message"placeholder="Question" required>
                    </textarea>
                    <button type="submit" class="btn buttonContact center-block text-center px-4 mb-5">Send</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'contact/js/sendEmail.js' %}">
    </script>
{% endblock %}