{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
      <section>
         <div class="contactForm">
            <div class="container bg-color-contact">
               <p class="contactHeading uppercase text-center">Let us know what you think!</p>
            </div>
            <div class="container bg-color-contact">
               <p class="contactText uppercase text-center">Any further question or are looking for even more secrets about the Swedish nature? </p>
            </div>
            <div class="row justify-content-md-center">
               <div class="contactBoxWrapper col-lg-6 ">
                  <div class="center-form contactBox">
                     <p>
                     <p class="contactFormTitle">Contact form</p>
                     </p>
                     <form onsubmit="return sendMail(this);" class="form">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" required/>
                        <input type="email" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                        <textarea rows="5" name="questionsummary" class="form-control" id="questionsummary" placeholder="Question" required></textarea>
                        <button type="submit" class="btn btn-secondary center-block contactButton">Send</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}